*.exe
*.dll
*.pdb
*.user
*.bin
*.vscode
*.vs
*.obj
*.log
*.tlog
*.cache
*.suo
*.userprefs
*.csproj.user
*.xproj.user
*.builds
*.pidb
*.msi
*.sqlproj.user
*.dbmdl
*.jfm
*.psess
*.vsp
*.vshost.exe
*.vshost.exe.manifest
*.publishsettings
node_modules/
wwwroot/lib/
bin/
obj/
appsettings.Development.json


