<div class="product-list">
  <div *ngFor="let product of products">
    <div>
      <div class="el-wrapper">
        <div class="box-up">
          <span>{{ product.name }}</span>
          <img class="img" src="{{ product.imageURL }}" alt="" />
        </div>

        <div class="box-down">
          <div class="h-bg">
            <div class="h-bg-inner"></div>
          </div>

          <a class="cart">
            <span class="price">${{ product.price }}</span>
            <span class="add-to-cart">
              <span class="txt">Add in cart</span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
