<div class="navbar">
  <div class="Mainbuttons">
    <a class="productsbutton" routerLink="" 
      ><span class="material-symbols-outlined"></span>Home</a
    >

    <input
      class="Search"
      type="text"
      #searchBox
      placeholder="Search on Electronics"
    />
    <button class="srcbtn">X</button>

    <a class="rightbutton" routerLink="/Cart"
      ><span class="material-symbols-outlined">Cart</span></a
    >
    <button routerLink="/login" class="button-81">Login</button>
    <button class="button-81" routerLink="/register">Register</button>
  </div>
</div>
