mat-toolbar {
  display: flex;
  justify-content: flex-start;
}

.left {
  margin: 15px;
}

.right {
  position: absolute;
  right: 150px;
}

.my-app {
    position: absolute;
    left: 100px;
}

.login {
  margin: 50px
}

.Signup {
  margin: 50px
}