<div class="Main">
  <div class="product">
    <div class="Width">
      <img src="{{ data.imageURL }}" alt="{{ data.name }}" />
    </div>
    <div>
      <div class="container">
        <h2>{{ data.name }}</h2>
        <div class="line"></div>
        <p>Color : {{ data.color }}</p>
        <p>Description: {{ data.description }}</p>
        <div class="line"></div>
      </div>
      <h3>Price : ${{ data.price }}</h3>
      <button>
        Add To Cart<span class="material-symbols-outlined"> </span>
      </button>
    </div>
  </div>
</div>
